
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card text-white h-100" style="margin-top:50px; background-color: rgba(0,0,0,0.7); font-size:20px; font-family:'Segoe UI'">
                    <div class="card-body">
                        <h2 class="card-title text-center">About Eventify</h2><br />
                        <p class="card-text mb-2">
                            Welcome to Eventify, where unforgettable moments come to life! We empower you to create
                            and celebrate your special occasions with ease. Whether it's a birthday bash, a corporate
                            gathering, or a music extravaganza, we've got you covered.
                        </p><br/>
                        <p class="card-text mb-2">
                            Our platform allows you to effortlessly organize your own events at top-notch venues or join
                            exciting existing events. We provide the tools for you to
                            curate the perfect experience.
                        </p><br />
                        <p class="card-text">
                            Join our community of event enthusiasts, and let's make every moment extraordinary. <br />
                            Explore, create, and connect at Eventify!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

