
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Us</title>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card text-white" style="margin-top:50px;  background-color: rgba(0,0,0,0.7);">
                    <div class="card-body">
                        <h2 class="card-title text-center">Contact Us</h2>
                        <p class="card-text">
                            Have a question or need assistance? We're here to help! Feel free to reach out to us using the
                            contact details below:
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Email:</strong> info@eventify.com</li>
                            <li class="list-group-item"><strong>Phone:</strong> +1 9324791189</li>
                            <li class="list-group-item"><strong>Address:</strong> 123 Phoenix, Oshawa, Ontario </li>
                        </ul>
                        <p class="card-text mt-3">
                            We value your feedback and are committed to providing the best experience.
                            Reach out to us, and let's make your events extraordinary together!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>